html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
body {
    font-family: 'Times New Roman', Times, serif;
    background-repeat: no-repeat;
     background-size: auto;
    background-position: center;
    display:grid; 
}
h1 {
    text-align: center; /* Align form elements to the center */
    margin: 15px;
}
form {
    display: flow-root;
    height: auto;
    text-align: center;
    width: auto;
}
input[type=text] {
    padding: 12px 18p
}
label{
        border: none;
        color: white; /* Text color */
        text-decoration: none;
        margin: 4px 2px;
        height: 40px;
        width: 240px;
        cursor: pointer;
}
@media screen
        and (min-width: 480px) {
        label {
         display: inline-block;
        }
    }
